<form #updateForm="ngForm" (ngSubmit)="formSubmission(updateForm)">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" [ngModel]="myUserProfile.name" />
  <label for="contact">Contact</label>
  <input
    type="text"
    name="contact"
    id="contact"
    [ngModel]="myUserProfile.contact"
  />
  <label for="bio">Summary</label>
  <textarea
    name="bio"
    id="bio"
    cols="30"
    rows="10"
    [ngModel]="myUserProfile.bio"
  ></textarea>
  <button>Update</button>
</form>
